<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/dashboard']">
      Mi Blog
    </a>
  
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!authService.isLoggedIn()">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a (click)="logout()" class="s">
            <i class="icon-logout" aria-hidden="true"></i>
            <span>Cerrar Sesion</span>
        </a>
      </li>
      </ul>
      
    </div>
  </nav>